html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h4 {
    color: #ffc300;
}

h3 {
    font-family: 'Press Start 2P';
    font-size: 1.5em;
    text-shadow: 1px 1px 3px #FF0000;
    margin-bottom: 1em;
}

h1 {
    font-family: 'Exo';
    font-weight: 800;
}

p {
    font-family: 'Exo';
    font-size: 120%;
    font-weight: 600;
}

.navbar-custom {
    background-color: #FFC300;
    height: 65px;
}

.nav-link {
    color: #000814 !important;
    font-family: 'Exo';
    font-weight: 800;
}

.member-photo {
    border-radius: 5%;
    width: 70%;
    max-width: 206px;
    max-height: 206px;
    box-shadow: 3px 3px 10px #aaaaaa;
}

.member-description {
    display: flex;
    width: 206px;
    min-height: 80px;
}

.info {
    flex: 1 auto;
 }

.info h5 {
    margin: 10px 0px 0px 5px;
    font-size: 18px;
}
  
.info p {
    margin: 2px 5px;
    font-size: 14px;
    line-height: 0px;
}

.content {
    display: block;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    width: 200px;
}

.content a {
    float: right !important;
    color:#0E76A8;
    display: inline-block;
}  

.linkedin-icon{
    line-height:40px;   
    color: #ffd60a;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

#game-intro {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./resources/images/sprites/floor.jpg);
}

#banner {
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#title {
    font-family: 'Press Start 2P', cursive;
    font-size: 700% !important;
    margin: 0;
    text-align: center !important;
    text-shadow: 2px 2px 5px #FF0000;
}

.sprite-container {
    width: 150px;
	height: 150px;
	overflow: hidden;
	animation: floating 3s infinite ease-in-out;
    position: absolute;
}

.sprite {
    width: 100%; 
    height: auto; 
}

#covid-sprite {
    left: 1em;
    top: -7em;
}

#surgical-sprite {
    right: 10em;
    top: -13em;
}

#syringe-sprite {
    left: 20em;
    top: -15em;
}

#syringe-sprite > img {
    -webkit-transform:rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#toilet-paper-sprite {
    left: 14em;
    top: 14em;
}

#n95-sprite {
    right: 20em;
    top: 18em;
}

#hand-sanitizer-sprite {
    right: 2em;
    top: 5em;
}

#medkit-sprite {
    left: -1em;
    top: -4em;
}

#about, #scratchers, #get-in-touch {
    padding: 2em 0em 2em 0em;
}

#scratchers {
    background-color: #003566;
    color: white;
}

#get-in-touch {
    background-color: #001d3d;
    color: white;
}

footer {
    background-color: #000814;
    color: white;
}

#logo {
    width: 8% !important;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #f3eff5;
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ffc300;
    opacity: 1;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    opacity: 0.75;
}